@import "@ng-select/ng-select/themes/default.theme.css";

.new-ingredient{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.new-ingredient__name{
  width: 400px;
}

.new-ingredient__amount-and-mu{
  display: flex;
  gap: 1rem;
}

.new-ingredient__amount{
  width: 150px;
}

.new-ingredient__mu{
  margin-top: 1rem;
  font-size: 18px;
}

.new-ingredient__button{
  --mat-button-filled-container-color: var(--accent-light);
  overflow: hidden;
  border-radius: 0;
  min-width:  400px;
}
