<form [formGroup]="mealItemForm" class="add-meal__form">
  <div class="search-box">
    <mat-form-field class = "search-box__product" appearance="outline" subscriptSizing="dynamic">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        formControlName="searchControl"
        [matAutocomplete]="recipeAuto"
        placeholder="Поиск" />
      <mat-autocomplete
        [displayWith]="displayProductName"
        #recipeAuto="matAutocomplete"
        (optionSelected)="onSearchSelect($event.option.value)">
        @if (isSearchLoading) {
          <mat-option disabled>Поиск...</mat-option>
        }
        @for (item of (searchResults$ | async); track item.id) {
          @if (!containsAlreadyNutr(item.id)) {
            <mat-option [value]="item">
              <h6 [innerHTML]="markWord(item.name, mealItemForm.controls['searchControl'].value)"></h6>
            </mat-option>
          }
        }
      </mat-autocomplete>
    </mat-form-field>

  <mat-form-field appearance="outline" subscriptSizing="fixed" class="search-box__weight">
    <mat-label>Вес потребленного продукта</mat-label>
    <input
      matInput
      type="number"
      formControlName="weightControl"
      min="0.1"
      max="5000"
      step="0.1"
      (input)="onWeightChange()" />
  </mat-form-field>
  </div>
  <button
    mat-stroked-button
    color="primary"
    type="button"
    class="add-meal__btn add-meal__btn--secondary"
    [disabled]="mealItemForm.invalid || !nutritionInfo()"
    (click)="submitMealItem()">
    Добавить блюдо
  </button>
</form>
