<div>
<h2>Регистрация</h2>
<form [formGroup]="passwordForm">
  <div>
    <div class="justify-content-center">
      <div></div>
      <mat-form-field appearance="outline">
        <mat-label>Старый пароль</mat-label>
        <input matInput formControlName="oldPassword" type="password">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <div></div>
      <mat-form-field appearance="outline">
        <mat-label>Новый пароль</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <div></div>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Подтвердите пароль</mat-label>
        <input matInput formControlName="confirmPassword" type="password">
        @if (passwordsMismatchVisible()) {
          <mat-error>Пароли не совпадают</mat-error>
        }
      </mat-form-field>
    </div>
    <div id="controls" class="row">
      <button type="button"
              (click)="changePassword()"
              mat-flat-button color="primary"
              [disabled]="passwordForm.invalid"
              class="submit_button">
        Зарегистрироваться
      </button>
    </div>
  </div>
</form>
</div>

