<section class="change-password" aria-labelledby="change-password-title">
  <h2 id="change-password-title" class="change-password__title">Смена пароля</h2>

  <form class="change-password__form" [formGroup]="passwordForm" novalidate>
    <mat-form-field
      class="change-password__control"
      appearance="outline"
      subscriptSizing="fixed">
      <mat-label>Текущий пароль</mat-label>
      <input
        matInput
        formControlName="oldPassword"
        type="password"
        autocomplete="current-password" />
      @if (passwordForm.controls['oldPassword'].hasError('required')) {
        <mat-error>Укажите текущий пароль</mat-error>
      }
    </mat-form-field>

    <mat-form-field
      class="change-password__control"
      appearance="outline"
      subscriptSizing="fixed">
      <mat-label>Новый пароль</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        autocomplete="new-password" />
      @if (passwordForm.controls['password'].hasError('required')) {
        <mat-error>Укажите новый пароль</mat-error>
      }
    </mat-form-field>

    <mat-form-field
      class="change-password__control"
      appearance="outline"
      subscriptSizing="fixed">
      <mat-label>Подтвердите пароль</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        type="password"
        autocomplete="new-password" />
      @if (passwordForm.controls['confirmPassword'].hasError('required')) {
        <mat-error>Подтвердите новый пароль</mat-error>
      } @else if (passwordsMismatchVisible()) {
        <mat-error>Пароли не совпадают</mat-error>
      }
    </mat-form-field>

    <div class="change-password__actions">
      <button
        type="button"
        mat-button
        class="change-password__cancel"
        (click)="cancel()">
        Отмена
      </button>
      <button
        type="button"
        mat-flat-button
        color="primary"
        class="change-password__submit"
        (click)="changePassword()"
        [disabled]="passwordForm.invalid">
        Сохранить
      </button>
    </div>
  </form>
</section>
